<div class="row">
  <div class="col">
    <div class="example-container">
        <h6>Unacquired Skills</h6>
        <div cdkDropList #collectionlist="cdkDropList" [cdkDropListData]="skillCollection" [cdkDropListConnectedTo]="[skillListUser]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let s of skillCollection" cdkDrag>{{s.name}}</div>
      </div>
    </div>    
  </div>
  <div class="col">
    <div class="example-container">
      <h6>Current Skills</h6> <!-- Username? -->
      <div cdkDropList #skillListUser="cdkDropList" [cdkDropListData]="userSkillList" [cdkDropListConnectedTo]="[collectionlist]"
        class="example-list" (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let s of userSkillList" cdkDrag>{{ s.name }}
            <span class="badge badge-lime badge-pill" *ngIf="s.levelId > 0">{{s.levelId}}<span class="mdi mdi-close" role="button"></span></span>
            <span data-toggle="dropdown" class="mdi mdi-arrow-down-drop-circle-outline" role="button" aria-hidden="true"></span>
            <div class="dropdown-menu" >
              <a class="dropdown-item" *ngFor="let l of s.levels" (click)="onClickLevel(l.skillId, l.id)">{{ l.name }}</a>
              <a class="dropdown-item" *ngIf="!s.levels.length">No levels</a>
            </div>
          </div>  
      </div>
    </div>  
  </div>
</div>


