<div class="row">
  <div class="col">
    <div class="example-container">
        <h6>Unacquired Skills</h6>
        <div cdkDropList #collectionlist="cdkDropList" [cdkDropListData]="skillCollection" [cdkDropListConnectedTo]="[userSkillList]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let s of skillCollection" cdkDrag>{{s}}</div>
      </div>
    </div>    
  </div>
  <div class="col">
    <div class="example-container">
      <h6>Current Skills</h6> <!-- Username? -->
      <div cdkDropList #userSkillList="cdkDropList" [cdkDropListData]="skilllist" [cdkDropListConnectedTo]="[collectionlist]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let s of skilllist" cdkDrag>{{s}}</div>
      </div>
    </div>  
  </div>
</div>


