
<div class="m-5 p-5">

  <div class="example-container">
      <h2>Current Skills</h2> <!-- Username? -->
      <div
        cdkDropList
        #userSkillList="cdkDropList"
        [cdkDropListData]="skilllist"
        [cdkDropListConnectedTo]="[collectionlist]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let s of skilllist" cdkDrag>{{s}}</div>
      </div>
    </div>
    
    <div class="example-container">
      <h2>Unacquired Skills</h2> 
    
      <div
        cdkDropList
        #collectionlist="cdkDropList"
        [cdkDropListData]="skillCollection"
        [cdkDropListConnectedTo]="[userSkillList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let s of skillCollection" cdkDrag>{{s}}</div>
      </div>
    </div>
  </div>
    
   