<div class="container-fluid">
  <div class="container">
    <div class="mt-5 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available assessments</h5>
        </div>
        <table class="table" style="float: inherit">
          <tbody>
            <tr *ngFor="let assessment of assessments; let i = index">
              <td><p style="margin-left: 20px;">{{assessment?.name}}</p></td>
              <td><a class="btn" style="background-color: orangered; margin-right: 20px; float: right; color: white" routerLink="/assessment/{{assessment?.id}}" role="button">Start Test</a></td>
            </tr>
            <tr *ngIf="assessments == null">
              <td>No assessments available</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
