<div class="container-fluid">
  <div class="container">
    <div class="mt-5 mb-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Available assessments</h5>
        </div>
        <table class="table">
          <tbody>
            <tr>
              <td>Java Master Quiz Part 1</td>
              <td>Laatste score: 8.1</td>
              <td><button type="button" class="btn btn-sm btn-primary">Start Test</button></td>
            </tr>
            <tr>
              <td>Java Master Quiz Part 1</td>
              <td>Laatste score: 8.1</td>
              <td><button type="button" class="btn btn-sm btn-primary">Start Test</button></td>
            </tr>
            <tr>
              <td>Java Master Quiz Part 1</td>
              <td>Laatste score: 8.1</td>
              <td><button type="button" class="btn btn-sm btn-primary">Start Test</button></td>
            </tr>
            <tr>
              <td>Java Master Quiz Part 1</td>
              <td>Laatste score: 8.1</td>
              <td><button type="button" class="btn btn-sm btn-primary">Start Test</button></td>
            </tr>
            <tr>
              <td>Java Master Quiz Part 1</td>
              <td>Laatste score: 8.1</td>
              <td><button type="button" class="btn btn-sm btn-primary">Start Test</button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
