<div class="container-fluid">
  <div class="bg">
    <div class="row">
      <div class="container" style="margin-top: 1px">
        <div class="card">
          <div class="card-body m-5">
            <div class="row">
              <div class="col-md-9">
                <div class="row">
                  <div class="col-3">
                    <img src="https://cdn2.iconfinder.com/data/icons/business-persons-flat-1/512/person_4-512.png"
                      class="img-fluid rounded-circle" style="background-color: slategrey">
                  </div>
                  <div class="col-9">
                    <h1>{{ userDetails?.firstName }} {{ userDetails?.lastName }}</h1>
                    <p>{{ userDetails?.email }}</p>
                    <button type="button" class="btn" style="background-color: orangered; color: white; width: 100px" (click)="editToggle()" *ngIf="!editMode">Edit
                      profile</button>
                    <button type="button" class="btn" style="background-color: orangered; color: white; width: 100px" (click)="editToggle()" *ngIf="editMode">Save</button>
                  </div>
                </div>
              </div>
              <div class="col-md-3 border-left align-self-center">
                <ul class="list-unstyled">
                  <li>Availability: 09:00-17:00</li>
                  <li>Address: Testlane 64</li>
                  <li>Telephone: (646) 926-6614</li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-5">
    <div class="container">
      <div class="card bg-light">
        <div class="card-header" style="background-color: yellowgreen; color: white">Overview <span *ngIf="this.editMode === true"
            class="badge badge-pill badge-info float-right" style="background-color: orangered">Edit mode</span></div>
        <div class="card-body">
          <div class="container">
            <div class="row">
              <div class="col-sm-9">
                <div class="card">
                  <div class="card-body">
                    <div class="about">
                      <h5>About</h5>
                      <p *ngIf="this.editMode === false">Lorem ipsum set dolor amet</p>
                      <textarea *ngIf="this.editMode === true" class="form-control" placeholder="Lorem ipsum set dolor amet"></textarea>
                    </div>
                    <hr>
                    <div class="expertise">
                      <h5>Expertise</h5>
                      <p *ngIf="this.editMode === false">Lorem ipsum set dolor amet</p>
                      <textarea *ngIf="this.editMode === true" class="form-control" placeholder="Lorem ipsum set dolor amet"></textarea>
                    </div>
                    <hr>
                    <div class="skills">
                      <h5>Skills</h5>
                      <div *ngIf="this.editMode === false">
                        <div class="skills-badges">
                          <div *ngFor="let skill of profileUserSkills;">
                            <li class="badge badge-pill badge-secondary m-1">{{skill?.split(',')[0]}}</li>
                            <li class="badge badge-pill badge-secondary m-1" style="background-color: orangered">{{skill?.split(',')[1]}}</li>
                          </div>
                          <p *ngIf="profileUserSkills == undefined || profileUserSkills.length == 0">This user doesn't
                            have skills yet.</p>
                        </div>
                      </div>

                      <div *ngIf="this.editMode === true">
                        <app-skillMenu>Loading available skills</app-skillMenu>
                      </div>
                    </div>
                    <hr>
                    <div class="certificates">
                      <h5>Certificates</h5>
                      <div *ngIf="this.editMode === false">
                        <div class="skills-badges">
                          <span *ngFor="let certificate of profileUserCertificates;">
                            <div>
                              <li class="badge badge-pill badge-secondary m-1">{{certificate}}</li>
                            </div>
                          </span>
                          <p *ngIf="profileUserCertificates == undefined || profileUserCertificates.length == 0">This
                            user doesn't have certificates yet.</p>
                        </div>
                      </div>
                      <div *ngIf="this.editMode === true">
                        <app-certificate-menu>Loading available certificates</app-certificate-menu>
                      </div>
                    </div>
                    <hr>
                    <div class="assessments" *ngIf="!editMode">
                      <h5>Assessments</h5>
                      <app-assessment-result-table>Loading assessments</app-assessment-result-table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-3">
                <div class="card">
                  <div class="card-body">
                    <h5 class="card-title">Recent Activity</h5>
                    <ul class="timeline">
                      <div *ngFor="let assessment of profileUserAssessments; let i = index;">
                        <li *ngIf="i < 3">
                          <h5>{{assessment?.split(',')[0]}}</h5>
                          <p>Attempted score: {{assessment?.split(',')[1]}}%</p>
                        </li>
                      </div>
                      <div>
                        <li *ngIf="profileUserAssessments.length == 0">
                          <p>No Recent Activity</p>
                        </li>
                      </div>

                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
