.bg {
  background: url(https://wallpapers.wallhaven.cc/wallpapers/full/wallhaven-251398.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-left: -16px;
  margin-right: -16px;
}

