<div class="row">
  <div class="col">
    <div class="example-container">
        <h6>Unacquired Certificates</h6>
        <div cdkDropList #collectionlist="cdkDropList" [cdkDropListData]="certificateCollection" [cdkDropListConnectedTo]="[certificateListUser]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let c of certificateCollection" cdkDrag>{{c.name}}</div>
      </div>
    </div>    
  </div>
  <div class="col">
    <div class="example-container">
      <h6>Current Certificates</h6> <!-- Username? -->
      <div cdkDropList #certificateListUser="cdkDropList" [cdkDropListData]="userCertificateList" [cdkDropListConnectedTo]="[collectionlist]"
        class="example-list" (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let c of userCertificateList" cdkDrag>{{c.name}}</div>
      </div>
    </div>  
  </div>
</div>


