<div class="container-fluid">
  <div class="container">

    <div class="mt-5">
      <h3> {{ assessment?.name }}</h3>
    </div>

    <div class="mt-5">
      <a class="list-group-item clearfix" *ngFor="let quizQuestion of assessment?.questions">
        <div class="card">
          <div class="card-body">
            <!--<h5 class="card-title">Vraag </h5>-->
            <p>{{ quizQuestion.question }}</p>
          </div>
          <div class="list-group list-group-flush">
            <a class="list-group-item list-group-item-action" *ngFor="let answer of quizQuestion.answers" (click)="fillInQuestion(quizQuestion, answer)">
              {{ answer.answer }}
            </a>
          </div>
        </div>
      </a>
  </div>

    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mr-auto">Total questions: {{ assessment?.questions?.length }}</div>
            <div class="col-auto"><button type="submit" class="btn btn-primary"  [disabled]="assessment?.questions?.length > filledInQuestions?.length" (click)="postScoreToUser(assessment, filledInQuestions)">Finish Test</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
