<div class="container-fluid">
  <div class="container">
    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vraag {{question.number}}</h5>
          <p>Wat is de zin van het leven?</p>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action active" href="#">1</a>
          <a class="list-group-item list-group-item-action" href="#">2</a>
          <a class="list-group-item list-group-item-action" href="#">3</a>
        </div>
      </div>
    </div>


    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vraag {{question.number}}</h5>
          <p>Wat is de zin van het leven?</p>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="#">1</a>
          <a class="list-group-item list-group-item-action" href="#">2</a>
          <a class="list-group-item list-group-item-action" href="#">3</a>
        </div>
      </div>
    </div>


    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Vraag {{question.number}}</h5>
          <p>Wat is de zin van het leven?</p>
        </div>
        <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action" href="#">1</a>
          <a class="list-group-item list-group-item-action" href="#">2</a>
          <a class="list-group-item list-group-item-action" href="#">3</a>
        </div>
      </div>
    </div>

    <div class="mt-5">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-auto mr-auto">Total questions: 12</div>
            <div class="col-auto"><button type="submit" class="btn btn-primary">Finish Test</button></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
